<div class="divzs">
    <h1>NEWS</h1>
</div>
<div class="homepage-section">
    <div class="item">
        <div class="image-container">
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/439200166_440250088586119_5508753833995553748_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Wu7QUUPH_BgAb6BLEN1&_nc_ht=scontent.ftun4-2.fna&oh=00_AfAoMOMgpf3DVPHxg4X7cHBegtW8EXHxAOQovQQSbMlI7w&oe=66343405" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>We won two games against Galaxy Football</h2>
            <p>We won two games against Galaxy Football Academy, with impressive scores of 7-4 and 10-1!</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/439756508_436546622289799_2324651989204494162_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=fzCoC2ObrrcAb7nlww9&_nc_ht=scontent.ftun4-2.fna&oh=00_AfBYwEocKT9dPvpY1jqm4viuTk0sHiLFUkb7xZEARc-MmA&oe=66344CD6" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2> CFS 2013-2014 SUPER LEAGUE</h2>
            <p>CFS 2013-2014 SUPER LEAGUE ⚽❤
                📆 Sunday 21.04.2024</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/435346794_433961095881685_198010305958855363_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5Z-UzeypTJAAb7mcnWF&_nc_ht=scontent.ftun4-2.fna&oh=00_AfCiIm0r3QkYVvHe7R7LCxUcaR-cHq5URA3kHMm_WdWekw&oe=66345FBE" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>Séance d’entraînement</h2>
            <p>Séance d’entraînement G3 ⚽️
                Mardi 17.04.2024</p>
        </div>
    </div>
    <div class="item">
        <div class="image-container">
            <img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t39.30808-6/436815744_433343879276740_3989541490333479997_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=bfWw0c1j0d8Ab7QsQNF&_nc_ht=scontent.ftun4-2.fna&oh=00_AfBVh62EqVOvhVS1waP8uB5cYCADumf28-hymBB9uFyXpA&oe=663444F8" alt="Photo 1">
        </div>
        <div class="content-container">
            <h2>Séance d’entraînement G1</h2>
            <p>Séance d’entraînement G1 ⚽️
                Mardi 16.04.2024</p>
        </div>
    </div>

   
    <!-- Add more items as needed -->
</div>
