<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="cover-slider">
    <div class="cover-slide">
        <img src="/assets/images/cover.jpg" alt="Cover Image 1">
        <div class="slide-content">
            <h1>Bienvenue à l'école de football de Carthage</h1>
            <p>L'école de football de Carthage est l'endroit où nos enfants apprennent à devenir champions</p>
            <button class="cta-button">plus</button>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100078033941794" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/1234567890" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                <a href="mailto:info@example.com" class="social-icon"><i class="far fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
